header {
	padding-top: 4%;
	padding-bottom: 4%;
	justify-content: center;
	text-align: center;
	margin: 0;
}

table {
	margin: 0 auto;
	width: 50%;
}

th, td {
	text-align: center;
	justify-content: center;
	border-collapse: collapse;
	border:2px;
	padding: 2%;
}

body {
	background-color: beige;
}

.cool {
	background-color: rgb(198, 181, 167);
}

.brick {
	background-color: rgb(246, 236, 215);
}